@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue/HelveticaNeue.eot');
    src: url('../fonts/HelveticaNeue/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue/HelveticaNeue.woff') format('woff'),
    url('../fonts/HelveticaNeue/HelveticaNeue.ttf') format('truetype'),
    url('../fonts/HelveticaNeue/HelveticaNeue.svg#webfont') format('svg'); }

@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../fonts/helvetica-neue-bold/HelveticaNeue-Bold.eot');
    src: url('../fonts/helvetica-neue-bold/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helvetica-neue-bold/HelveticaNeue-Bold.woff') format('woff'),
    url('../fonts/helvetica-neue-bold/HelveticaNeue-Bold.ttf') format('truetype'),
    url('../fonts/helvetica-neue-bold/HelveticaNeue-Bold.svg#webfont') format('svg'); }

/* global styles */
.row:before, .row:after {
    content: "";
    display: table; }

.row:after { clear: both; }

.row { zoom: 1; }

.row [class^=column]{
    float: left;
}

/* end global styles */
/* buttons */
.btn-line:before, .btn-line:after,
[class^=btn-group]:before, [class^=btn-group]:after{
    content: "";
    display: table; }

.btn-line:after,
[class^=btn-group]:after{ clear: both; }

.btn-line,
[class^=btn-group]{ zoom: 1; }

.btn-line a,
[class^=btn-group] a{
    float: left;
}

.btn {
    text-align: center;
    color: #f1f1f1;
    font-size: 14px;
    display: block;
    padding-left: 4px;
    background: url(../img/btn_sprite.png) no-repeat; }

    .btn span {
        padding-right: 4px;
        padding-top: 9px;
        padding-bottom: 10px;
        display: block;
        background: url(../img/btn_sprite.png) no-repeat; }

.btn-grey { background-position: 0px -1544px; }

    .btn-grey:hover { background-position: 0px -1626px; }

    .btn-grey:active { background-position: 0px -1714px; }

    .btn-grey span { background-position: 100% -1583px; }

    .btn-grey:hover span { background-position: 100% -1670px; }

    .btn-grey:active span { background-position: 100% -1754px; }

.btn-red { background-position: 0px -1797px; }

    .btn-red:hover { background-position: 0px -1881px; }

    .btn-red:active { background-position: 0px -1963px; }

    .btn-red span { background-position: 100% -1840px; }

    .btn-red:hover span { background-position: 100% -1920px; }

    .btn-red:active span { background-position: 100% -2006px; }

.btn-group-27 a {
    font-size: 14px;
    color: #f1f1f1;
    display: block;
    padding: 7px 0px 6px 0;
    text-align: center;
    border-left: 1px solid #5e636a;
    background: url(../img/btn_sprite.png) 0px -48px no-repeat; }

    .btn-group-27 a:first-child {
        background-position: 0px 0px;
        border-left: 0;
    }

    .btn-group-27 a:first-child:hover { background-position: 0px -159px; }

    .btn-group-27 a.last { background-position: 100% -48px; }

    .btn-group-27 a:first-child:active { background-position: 0px -326px; }

    .btn-group-27 a:hover { background-position: 0px -214px; }

    .btn-group-27 a:active { background-position: 0px -377px; }

    .btn-group-27 a.last:hover { background-position: 100% -214px; }

    .btn-group-27 a.last:active { background-position: 100% -377px; }

    .btn-group-27 a.active:first-child { background-position: 0 -3276px; }

    .btn-group-27 a.active:first-child:hover { background-position: 0 -3360px; }

    .btn-group-27 a.active:first-child:active { background-position: 0 -3442px; }

    .btn-group-27 a.active { background-position: 0 -2721px; }

    .btn-group-27 a.active:hover { background-position: 0 -2801px; }

    .btn-group-27 a.active:active { background-position: 0 -2887px; }

    .btn-group-27 a.active.last { background-position: 100% -2721px; }

    .btn-group-27 a.active.last:hover { background-position: 100% -2801px; }

    .btn-group-27 a.active.last:active { background-position: 100% -2887px; }

.btn-group-32 a{
    font-size: 14px;
    color: #f1f1f1;
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    border-left: 1px solid #5e636a;
    background: url(../img/btn_sprite.png) 0px -2234px no-repeat;
}

.btn-group-32 a:first-child{
    border-left: 0;
    background-position: 0px -2055px;
}

.btn-group-32 a:first-child:hover{
    background-position: 0px -2113px;
}

.btn-group-32 a:first-child:active{
    background-position: 0 -2167px;
}

.btn-group-32 a:hover{
    background-position: 0px -2292px;
}

.btn-group-32 a:active{
    background-position: 0px -2346px;
}

.btn-group-32 a.last{
    background-position: 100% -1583px;
}

.btn-group-32 a.last:hover{
    background-position: 100% -1670px;
}

.btn-group-32 a.last:active{
    background-position: 100% -1754px;
}

.btn-group-32 a.active:first-child { background-position: 0 -3495px; }

.btn-group-32 a.active:first-child:hover { background-position: 0 -3579px; }

.btn-group-32 a.active:first-child:active { background-position: 0 -3661px; }

.btn-group-32 a.active { background-position: 0 -1840px; }

.btn-group-32 a.active:hover { background-position: 0 -1920px; }

.btn-group-32 a.active:active { background-position: 0 -2006px; }

.btn-group-32 a.active.last { background-position: 100% -1840px; }

.btn-group-32 a.active.last:hover { background-position: 100% -1920px; }

.btn-group-32 a.active.last:active { background-position: 100% -2006px; }


.btn-grey-icon {
    font-size: 14px;
    color: #f1f1f1;
    padding-left: 4px;
    display: block;
    position: relative;
    text-indent: 30px;
    background: url(../img/btn_sprite.png) 0px -940px no-repeat; }

    .btn-grey-icon:hover { background-position: 0px -983px; }

    .btn-grey-icon:active { background-position: 0px -1030px; }

    .btn-grey-icon span {
        display: block;
        padding: 6px 4px 7px 0;
        background: url(../img/btn_sprite.png) 100% -48px no-repeat; }

    .btn-grey-icon:hover span { background-position: 100% -214px; }

    .btn-grey-icon:active span { background-position: 100% -377px; }

    .btn-grey-icon .upload {
        display: inline-block;
        height: 17px;
        width: 22px;
        position: absolute;
        top: 5px;
        left: 4px;
        background: url(../img/sprites.png) -147px -152px no-repeat; }

.btn-grey-no-icon {
    font-size: 14px;
    color: #f1f1f1;
    padding-left: 4px;
    display: block;
    background: url(../img/btn_sprite.png) 0px -940px no-repeat;
    text-align: center; }

    .btn-grey-no-icon:hover { background-position: 0px -983px; }

    .btn-grey-no-icon:active { background-position: 0px -1030px; }

    .btn-grey-no-icon span {
        display: block;
        padding: 6px 4px 7px 0;
        background: url(../img/btn_sprite.png) 100% -48px no-repeat; }

    .btn-grey-no-icon:hover span { background-position: 100% -214px; }

    .btn-grey-no-icon:active span { background-position: 100% -377px; }

/* end buttons */
/* my-select */
.jq-selectbox.focused .jq-selectbox__select{
    border: 0;
}
.jq-selectbox__select {
    border: 0 none;
    box-shadow: none;
    line-height: 14px;
    height: auto;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-right: 0;
    text-shadow: none;
    color: #fff;
    border-radius: 0;
    position: relative; }

.jq-selectbox__select:active {
        box-shadow: none; }

.jq-selectbox__select .jq-selectbox__trigger {
        width: 22px;
        right: -2px; }

.jq-selectbox__select .jq-selectbox__trigger-arrow { border: 0 none; }

.jq-selectbox__dropdown {
    border-radius: 0 0 5px 5px;
    box-shadow: none;
}

.jq-selectbox li {
    min-height: 0;
    padding-top: 4px;
    padding-bottom: 4px; }

/* end my-select */
/* light-select */
.light-select .jq-selectbox__select {
    background: url(../img/btn_sprite.png) 0px -714px no-repeat;
    width: 196px; }

.light-select .jq-selectbox__select-text { color: #4e4e4e; }

.light-select .jq-selectbox__select:hover { background-position: 0px -894px; }

.light-select .jq-selectbox__select:active { background: url(../img/btn_sprite.png) 0px -714px no-repeat; }

.light-select .jq-selectbox__select .jq-selectbox__trigger {
    background: url(../img/btn_sprite.png) 100% -1074px no-repeat;
    border-left: 1px solid #bbc6d3; }

.light-select .jq-selectbox__select:hover .jq-selectbox__trigger { background-position: 100% -1254px; }

.light-select .jq-selectbox__select:active .jq-selectbox__trigger { background-position: 100% -1074px; }

.light-select.jq-selectbox.opened .jq-selectbox__select { background: url(../img/btn_sprite.png) 0px -802px no-repeat; }

    .light-select.jq-selectbox.opened .jq-selectbox__select .jq-selectbox__trigger { background-position: 100% -1162px; }

.light-select .jq-selectbox__dropdown {
    width: 208px;
    top: 26px;
    border-bottom: 0; }

.light-select.jq-selectbox li {
    background: url(../img/btn_sprite.png) 0px -761px no-repeat;
    color: #4e4e4e; }

    .light-select.jq-selectbox li:hover {
        background-position: 0px -848px;
        color: #4e4e4e; }

    .light-select.jq-selectbox li.selected { color: #4e4e4e; }

    .light-select.jq-selectbox li:active { background-position: 0px -761px; }

/* end light-select */
/* dark-select */

.dark-select .jq-selectbox__select {
    background: url(../img/btn_sprite.png) 0px -485px no-repeat;
    width: 140px; }

    .dark-select .jq-selectbox__select:hover { background-position: 0px -539px; }

    .dark-select .jq-selectbox__select:active { background: url(../img/btn_sprite.png) 0px -599px no-repeat; }

.dark-select.jq-selectbox.opened .jq-selectbox__select { background: url(../img/btn_sprite.png) 0px -653px no-repeat; }

.dark-select .jq-selectbox__select .jq-selectbox__trigger {
    background: url(../img/btn_sprite.png) 100% -1329px no-repeat;
    border-left: 1px solid #575c62; }

.dark-select .jq-selectbox__select:hover .jq-selectbox__trigger { background-position: 100% -1383px; }

.dark-select .jq-selectbox__select:active .jq-selectbox__trigger { background-position: 100% -1443px; }

.dark-select.jq-selectbox.opened .jq-selectbox__select .jq-selectbox__trigger { background-position: 100% -1497px; }

.dark-select .jq-selectbox__dropdown {
    width: 152px;
    top: 26px;
    border: 1px solid #575c62;
    border-top: 0; }

.dark-select.jq-selectbox li {
    background: url(../img/btn_sprite.png) 0px -48px no-repeat;
    color: #fff; }

    .dark-select.jq-selectbox li:hover { background-position: 0px -214px; }

    .dark-select.jq-selectbox li:active { background-position: 0px -377px; }

/* end dark-select */
/* input[type=text] */
input[type=text] {
    border: 1px solid #b4bfcf;
    border-radius: 5px;
    height: 23px;
    padding-left: 5px;
    font-style: italic;
    box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
}

    input[type=text]:focus {
        border-color: #308ed6;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 255, 0.3);
        font-style: normal; }

/* end input[type=text] */
/* checkbox */
.icheckbox{
    display: inline-block;
    vertical-align: -3px;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    background: url(../img/sprites.png) -296px -2px no-repeat;
    border: none;
    cursor: pointer;
}

    .icheckbox.hover {
        box-shadow: 0 0 3px rgba(0,0,0,0.4);
    }
    .icheckbox.checked {
        background-position: -265px -2px;
    }

/* end checkbox */
/* table classes */
tbody tr:hover td,
tbody tr.active:hover td,
.arcticmodal-container_i table tr:hover td,
.arcticmodal-container_i table tr.active:hover td{
    background: #fbf9ee;
}

tbody tr:hover .icheckbox,
.arcticmodal-container_i table tr:hover .icheckbox{
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
}

tbody tr.active td,
.arcticmodal-container_i table tr.active td{
    background: #d4e1f4;
    color: #f05535;
}
/* end table classes */
/* datepicker */

.ui-datepicker{
    width: auto;
    height: auto;
    padding: 0;
}

.ui-datepicker.ui-widget-content{
    background: #f0f4f7;
}

.ui-datepicker.ui-corner-all,
.ui-datepicker-header.ui-corner-all{
    border-radius:0;
}

.ui-datepicker { z-index: 1001 !important; }

.ui-datepicker .ui-datepicker-prev{
    left: 10px;
}

.ui-datepicker .ui-datepicker-next{
    right: 10px;
}

.ui-datepicker-prev,
.ui-datepicker-prev.ui-state-hover{
    background: url(../img/sprites.png) -455px -193px no-repeat;
}

.ui-datepicker-next,
.ui-datepicker-next.ui-state-hover{
    background: url(../img/sprites.png) right -225px no-repeat;
}

.ui-datepicker-prev.ui-state-hover,
.ui-datepicker-next.ui-state-hover{
    border-color: transparent;
    background-color: none;
}

.ui-datepicker table .ui-state-default{
    border: 0;
    color: #6c7174;
    background: #f0f4f7;
}

.ui-datepicker table .ui-state-highlight,
.ui-datepicker table .ui-state-highlight.ui-state-hover{
    background: #f05535;
}

.ui-datepicker table .ui-state-hover{
    background: #c4cfdd;
}

.ui-datepicker-header{
    background-color: #404448;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#6d737b', endColorstr='#404448',GradientType=0); zoom: 1;
    background-image: linear-gradient(to bottom, #6d737b, #404448);
    font-size: 17px;
}

.ui-datepicker-header.ui-widget-header{
    border: 0;
}

.ui-datepicker table{
    margin: 0;
}

.ui-datepicker-calendar tr{
    border-top: 1px solid #e7e9ea;
}

.ui-datepicker-calendar td:first-child{
    border-left: 0;
}

.ui-datepicker-calendar td{
    padding: 0;
    border-left: 1px solid #e7e9ea;
}

.ui-datepicker-calendar td a{
    text-align: center;
    padding: 9px 9px 13px 11px;
    font-size: 13px;
}

/* end datepicker */

/* arcticmodal */

.arcticmodal-overlay { opacity: 0.3 !important; }

.arcticmodal-container_i2 { padding: 40px 0; }

.arcticmodal-overlay,
.arcticmodal-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; }

.arcticmodal-container {
    overflow: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse; }

*:first-child+html .arcticmodal-container { height: 100%; }

.arcticmodal-container_i {
    height: 100%;
    margin: 0 auto; }

.arcticmodal-container_i tr:hover td{
    background: none;
}

.arcticmodal-container_i tr:hover .icheckbox{
    box-shadow: none;
}

.arcticmodal-container_i2 {
    padding: 40px 0;
    margin: 0;
    border: 0;
    vertical-align: middle; }

.arcticmodal-error {
    padding: 20px;
    border-radius: 10px;
    background: #000;
    color: #fff; }

.arcticmodal-loading {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: #000 url(loading.gif) no-repeat 50% 50%; }

/* end arcticmodal */

body {
    font-family: 'HelveticaNeue';
    background: #e1e5ec; }

.header,
.container { margin: 0 auto; }

.container {
    width: 1200px;
    background: #f0f1f3;
    border: 1px solid #bbc6d3;
    border-top: 0;
}

.header-wrapper {
    background: #7c828b;
    min-width: 1202px;
}

.content-wrapper {
    padding-bottom: 20px;
    background: #e1e5ec; }

.header {
    width: 1202px;
    padding-bottom: 15px; }

.logo {
    font-size: 21px;
    float: left;
    text-transform: uppercase;
    margin: 20px 111px 3px 8px;
    display: block;
    color: #fff; }

    .logo span:first-child { color: #37b9e7; }

.menu {
    margin-top: 19px;
    float: left;
    height: 25px; }

    .menu li { float: left; }

    .menu a {
        display: block;
        height: 25px; }

        .menu a span { font-size: 0; }

        .menu a.active { margin-top: -5px; }

            .menu a.active .list-item-text {
                font-size: 14px;
                color: #7c828b;
                margin-left: 10px;
                vertical-align: 5px;
                font-family: 'HelveticaNeueBold'; }

            .menu a.active .icon,
            .menu .list-item-text { display: inline-block; }

            .menu a.active .icon {
                width: 32px;
                height: 29px;
                margin-left: 2px;
                margin-top: 2px;
                background: url(../img/sprites.png) no-repeat; }

    .menu .list-item1.active .icon { background-position: -207px -260px; }

    .menu .list-item2.active .icon { background-position: -241px -261px; }

    .menu .list-item3.active .icon { background-position: -275px -261px; }

    .menu .list-item4.active .icon { background-position: -307px -261px; }

    .menu .list-item5.active .icon { background-position: -342px -261px; }

    .menu .list-item6.active .icon { background-position: -379px -261px; }

    .menu a { background: url(../img/sprites.png) no-repeat; }

    .menu .list-item1 {
        width: 25px;
        background-position: -211px -201px;
        margin-right: 32px; }

    .menu .list-item2 {
        width: 32px;
        background-position: -240px -201px;
        margin-right: 35px; }

    .menu .list-item3 {
        width: 22px;
        background-position: -279px -201px;
        margin-right: 23px; }

    .menu .list-item4 {
        width: 29px;
        background-position: -309px -201px;
        margin-right: 26px; }

    .menu .list-item5 {
        width: 30px;
        background-position: -343px -201px;
        margin-right: 24px; }

    .menu .list-item6 {
        width: 27px;
        background-position: -381px -201px; }

    .menu [class^="list-item"].active {
        padding-left: 4px;
        width: 131px;
        height: 45px;
        background: url(../img/btn_sprite.png) 0 -3106px no-repeat; }

        .menu [class^="list-item"].active div {
            background: url(../img/btn_sprite.png) -109px -3177px no-repeat;
            height: 100%; }

.user {
    float: right;
    position: relative; }

    .user a {
        display: block;
        color: #fff;
        font-size: 12px;
        background-color: #60666e;
        border: 1px solid #878e97;
        padding: 6px 13px 8px 8px; }

        .user .username{
            max-width: 180px;
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            white-space: nowrap;
            background-image: none;
            display: inline-block;
        }

        .user span{
            vertical-align: -1px;
            background: url(../img/sprites.png) no-repeat;
        }

        .user .flag{
            display: inline-block;
            background-position: -8px -5px;
            height: 10px;
            width: 16px;
            margin-right: 6px;
            vertical-align: 0;
        }

        .user .up-arrow{
            display: inline-block;
            background-position: -64px -4px;
            height: 12px;
            width: 5px;
            margin-left: 9px;
        }

        .user .wheel{
            display: inline-block;
            background-position: -110px -1px;
            height: 13px;
            width: 13px;
            margin-right: 9px;
        }

        .user .door{
            display: inline-block;
            background-position: -160px -2px;
            height: 12px;
            width: 10px;
            margin-right: 13px;
        }

    .user > li a {
        border-radius: 0 0 5px 5px;
    }

    .user li ul { display: none; }

        .user li ul a { border-top: 0px; }

            .user li ul a img { vertical-align: -3px; }

    .user li:hover ul {
        display: block;
        width: 100%;
        top: 100%;
        right: 0;
        position: absolute;
        z-index: 100; }

    .user > li:hover a {
        border-radius: 0; }

    .user li:hover .last {
        border-radius: 0 0 5px 5px;
    }

.sidebar {
    position: fixed;
    left: 0;
    top: 101px;
    width: 39px;
    border: 1px solid #e9edf2;
    border-left: 0;
    background-color: #7c828b;
    border-radius: 0 5px 5px 0;
    z-index: 600;
}

    .sidebar a {
        display: block;
        height: 42px;
        background: url(../img/sprites.png) no-repeat; }

    .sidebar .item1 { background-position: -8px -193px; }

    .sidebar .item2 {
        background-position: -8px -233px;
        position: relative; }

    .sidebar .item3 { background-position: -8px -273px; }

    .sidebar .item4 { background-position: -8px -313px; }

    .sidebar > li:first-child:hover {
        border-radius: 0 5px 0 0; }

    .sidebar > li.last:hover {
        border-radius: 0 0 5px 0; }

    .sidebar li:hover .item2 { background-position: -47px -234px; }

    .sidebar > li:hover { background: #4b4f54; }

    .sidebar li ul { display: none; }

    .sidebar li:hover ul {
        display: block;
        position: absolute;
        top: 42px;
        left: 100%;
        width: 137px;
        background: #4b4f54;
        border-radius: 0 5px 5px 0;
        z-index: 1;
    }

    .sidebar ul a {
        color: #fff;
        font-size: 14px;
        padding: 13px 0;
        height: auto;
        margin-left: 23px;
    }

    .sidebar li:hover ul a:hover {
        font-family: 'HelveticaNeueBold';
        color: #d4e1f4; }

    .sidebar ul a span { margin-left: 34px; }

    .sidebar .item1-inner { background-image: none; }

    .sidebar .item2-inner { background-position: -16px -355px; }

    .sidebar .item3-inner { background-position: -16px -405px; }

    .sidebar .item4-inner { background-position: -16px -473px; }

.info {
    padding-top: 6px;
    padding-left: 10px;
    padding-bottom: 8px;
    background-color: #d4e1f4;
    border-bottom: 1px solid #bbc6d3; }

.create {
    background: url(../img/btn_sprite.png) 0 -2934px no-repeat;
    padding: 10px 8px;
    color: #4e4e4e;
    font-size: 14px;
    display: block;
    width: 161px;
    float: left; }

.create ~ p {
    font-size: 14px;
    float: left;
    margin-right: 35px;
    margin-top: 11px; }

.content { background-color: #f0f1f3; }

.content-left {
    padding-top: 16px;
    width: 192px;
    float: left; }

.left-menu { margin-left: 20px; }

    .left-menu a {
        font-size: 12px;
        color: #4d4d4d;
        display: block;
        width: 134px;
        padding: 10px 0px 10px 6px;
        border: 1px solid transparent; }

        .left-menu a.active {
            background-color: #d4e1f4;
            border-radius: 5px 5px 5px 5px;
            border: 1px solid #bbc6d3;
            font-family: 'HelveticaNeueBold';
            transition: all 0.2s;
        }

.left-menu li ul {
    display: none;
    margin-left: 24px; }

.left-menu li:hover ul { display: block; }

.plot {
    width: 1007px;
    border-left: 1px solid #bdc6d4;
    background-color: #f9fcfc;
    float: right;
    padding-top: 21px;
    position: relative; }

p.image-title {
    margin-left: 26px;
    margin-bottom: 33px;
    font-size: 14px;
    color: #575c62; }

.image-title .i {
    margin-left: 9px;
    display: inline-block;
    background: url(../img/sprites.png) -207px -2px no-repeat;
    height: 16px;
    width: 16px;
    vertical-align: -4px;
}

.plot .plot-buttons {
    margin: 100px 0 33px 182px;
}

.plot-buttons a {
    width: 77px;
    margin-right: 52px; }

.ui-accordion.ui-widget{
    font-family: 'HelveticaNeue';
}

.ui-accordion-header.ui-corner-all,
.ui-accordion-header.ui-corner-top,
.ui-accordion-content.ui-corner-bottom{
    border-radius: 0;
}

.ui-accordion-header.ui-state-default{
    border: none;
}

.ui-accordion-content.ui-widget-content{
    border: 0;
    background: none;
}

.ui-accordion-content.ui-widget-content a{
    color: #fff;
}

.panel {
    background-color: #e0e3e8;
    width: 281px;
    position: absolute;
    top: 0;
    right: 0; }

    .panel .ui-helper-reset { line-height: 1; }

    .panel h3.ui-accordion-header {
        background-color: #585d63;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#818992', endColorstr='#585d63',GradientType=0); zoom: 1;
        background-image: linear-gradient(to bottom, #818992, #585d63);
        box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.3);
        margin: 0;
        font-weight: normal;
        padding: 0; }

.ui-accordion .ui-accordion-content { overflow: visible; }

.panel h3.ui-accordion-header .down-arrow {
    position: absolute;
    left: 7px;
    top: 13px;
    background: url(../img/sprites.png) -104px -61px no-repeat;
    padding: 5px; }

.panel h3.ui-accordion-header.ui-accordion-header-active .down-arrow { background-position: -104px -84px; }

.panel h3.ui-accordion-header a {
    color: #fff;
    font-size: 14px;
    display: block;
    padding: 10px 0 9px 23px; }

.ui-accordion-content-active {
    padding-right: 0 !important;
    padding-left: 0 !important; }

.panel [class^="block"] { border-left: 1px solid #bdc6d4; }

.panel .block4 { border-bottom: 1px solid #bdc6d4; }

.panel .block1 {
    padding-top: 18px;
    padding-bottom: 15px;
    padding-left: 20px !important; }

    .panel .block1 .tablet { margin-left: 1px; }

.block1 .panel-buttons { margin-top: 22px; }

.panel-buttons a {
    margin-bottom: 5px;
    width: 162px; }

.block2 {
    padding-top: 16px;
    padding-bottom: 18px;
    padding-left: 17px !important; }

    .block2 .circle-button {
        display: block;
        width: 56px;
        height: 56px;
        float: left;
        margin-right: 28px;
        background: url(../img/sprites.png) 0 -49px no-repeat;
}

    .block2 input {
        width: 49px;
        margin-right: 8px;
        float: left;
        margin-top: 14px;
    }

    .block2 .jq-selectbox-wrapper{
        top: 14px;
        display: inline-block !important;
    }

    .block2 .jq-selectbox__select {
        width: 44px;
    }

    .block2 .jq-selectbox__dropdown { width: 56px; }

.block3 {
    padding-top: 19px;
    padding-bottom: 12px;
    padding-left: 21px !important;
    padding-right: 30px !important; }

    .block3 .row { margin-bottom: 7px; }

    .block3 p { font-size: 14px; }

    .block3 .column1 {
        color: #575c62; }

    .block3 .column2 {
        float: right;
        color: #8c929b; }

.block4 {
    padding-top: 20px;
    padding-bottom: 9px;
    padding-left: 22px !important;
    padding-right: 25px !important; }

    .block4 p { font-size: 14px; }

    .block4 .column1 {
        color: #7c8086; }

    .block4 .column2 {
        float: right;
        color: #575c62; }

/* power_usage.html */
.content-right {
    float: left;
    width: 981px;
    padding-top: 32px;
    background-color: #f9fcfc;
    padding-bottom: 40px;
    padding-left: 26px;
    border-left: 1px solid #bdc6d4; }

    .content-right h1 {
        font-size: 16px;
        color: #575c62; }

        .content-right h1 + p {
            font-size: 12px;
            margin: 28px 0 55px 35px;
            color: #82878b; }

.content-right .row-group {
    margin-top: 3px;
    padding-top: 21px;
    border-top: 1px solid #bdc6d4;
}

.content-right .row-group1,
.content-right .row-group2,
.content-right label,
.content-right input[type=text]{
    float: left;
}

.content-right .row-group1 {
    margin-left: 35px;
    margin-right: 100px;
}

.content-right .row-group1 label{
    margin-right: 21px;
}

.content-right .row-group2 label{
    margin-right: 25px;
}

    .content-right .row-group1 .row:first-child {
        background-color: #e0e7f2;
        border-radius: 5px;
        padding: 3px 3px 3px 10px;
        margin: 0 -3px 21px -10px;
    }

    .content-right .row-group2 .btn {
        color: #f1f1f1;
        font-size: 14px;
        width: 172px;
        margin-bottom: 24px;
        margin-left: 102px;
    }

.content-right .row-group .row {
    margin-bottom: 6px;
}

    .content-right label {
        font-size: 14px;
        color: #575c62;
        margin-top: 5px;
        width: 75px;
}

        .content-right .row-group input[type=text] { width: 173px; }

.content-right .plot-buttons {
    margin-top: 44px;
    margin-left: 288px;
}

/* reports.html */
.info.reports-info { padding: 10px 0 11px 15px; }

.reports-info label,
.reports-info input[type=text],
.reports-info .btn-group-27 { float: left; }

.reports-info .btn-group-27 a{
    width: 68px;
}

.reports-info label {
    margin-right: 11px;
    font-size: 14px;
    color: #78797c;
    padding-top: 5px;
    margin-left: 27px;
}

.reports-info label:first-child{
    margin-left: 0;
}

input[type=text].date {
    border: 1px solid #b4bfcf;
    border-radius: 5px 0px 0px 5px;
    width: 65px;
    margin-right: -1px; }

input[type=text].date.hasDatepicker{
    padding-left: 25px;
    background: url(../img/sprites.png) -399px 3px no-repeat #fff;
}

input[type=text].time {
    width: 67px;
    border: 1px solid #b4bfcf;
    border-radius: 0px 5px 5px 0px;
    font-style: normal; }

input[type=text].date:focus,
input[type=text].time:focus{
    border-color: #308ed6;
    position: relative;
    z-index: 100;
}

.reports-info .btn-group-27 { margin-left: 52px; }

.reports-content {
    background-color: #f9fcfc;
    padding-top: 26px;
    padding-bottom: 28px; }

.reports-content .line {
    margin-left: 75px;
    margin-bottom: 11px; }

    .reports-content .line label {
        font-size: 14px;
        font-family: 'HelveticaNeueBold';
        color: #4e4e4e;
        margin-right: 13px;
        padding-top: 7px;
        float: left;
    }

.reports-content .input-tag-block {
    margin-left: 111px;
    margin-bottom: 43px; }

    .reports-content .input-tag-block .tagsinput{ float: left; }

    .reports-content .input-tag-block .tagsinput {
        border: 1px solid #b4bfcf;
        border-radius: 5px 5px 5px 5px;
        max-height: 80px;
        padding: 1px 1px 0 1px; }

        .reports-content .input-tag-block .tagsinput span.tag {
            border: 0;
            background: #d0d9e5;
            font-size: 12px;
            color: #575c62;
            margin: 1px 5px 0 1px;
            border-radius: 5px; }

            .reports-content .input-tag-block .tagsinput span.tag a {
                color: #fff;
                vertical-align: 1px; }

        .reports-content .input-tag-block .tagsinput input {
            padding: 0;
            vertical-align: -2px;
            margin-top: 2px; }

.reports-content .clear{
    font-size: 12px;
    color: #4e4e4e;
    border-bottom: 1px dashed #4e4e4e;
    vertical-align: middle;
    padding-top: 5px;
    float: left;
    margin-left: 13px;
}

.list .row:first-child{
    margin-top: 0;
}

.list .row{
    margin-top: 16px;
}

.list {
    margin-left: 111px;
    width: 498px;
}

.list p,
.list a{
    float: left;
}

.list p {
    font-size: 14px;
    color: #4e4e4e;
    width: 387px;
    margin-right: 20px;
}

    .pdf, .xls{
        display: block;
        width: 21px;
        height: 24px;
        background: url(../img/sprites.png)  no-repeat;
    }

    .pdf{
        background-position: -351px 0px;
        margin-right: 49px;
    }

    .xls{
        background-position: -378px 0px;
    }

.input-form { margin-top: 36px; }

.input-form label,
.input-form input{
    float: left;
}

    .input-form .row {
        margin-left: 31px;
        margin-bottom: 23px; }

        .input-form .row label {
            margin-right: 12px;
            padding-top: 7px;
            width: 64px;
            text-align: right;
            font-size: 14px;
            color: #4e4e4e;
            font-family: 'HelveticaNeueBold';
        }

        .input-form .row label.last { padding-top: 1px; }

    .input-form input {
        width: 517px;
    }

/* systems_manufacturers.html */
.systems-info { padding: 9px 7px 7px 13px; }

.systems-info .systems-title,
.systems-info .btn-group-27,
.systems-info .jq-selectbox-wrapper{
    float: left;
}

.systems-info .search{
    float: right;
}

.systems-title {
    font-size: 16px;
    margin-top: 4px;
    margin-right: 84px;
    color: #4e4e6d;
    font-family: 'HelveticaNeueBold'; }

.systems-info .btn-group-27 a:first-child { width: 106px; }

.systems-info .btn-group-27 a{
    width: 68px;
}

.systems-info .btn-group-27 a.last {width: 100px;}

.systems-info .dark-select {margin-left: 76px;}

.search {
    position: relative;
    width: 209px;
}

    .search input[type=text] {
        border: 1px solid #b4bfcf;
        border-radius: 15px;
        height: 23px;
        width: 172px;
        padding-left: 10px;
        padding-right: 25px;
        color: #7c828b; }

    .search input[type=text]:focus{
        border-color: #308ed6;
    }

    .search input[type=submit] {
        width: 15px;
        height: 16px;
        border: 0 none;
        position: absolute;
        right: 10px;
        top: 5px;
        background: url(../img/sprites.png) -166px -56px no-repeat #fff;
        cursor: pointer; }

    .search input[type=text]:focus + input[type=submit] { background-position: -166px -86px; }

.systems-content {
    background: #f9fcfc;
    padding: 28px 0 30px 29px;
    min-height: 688px; }

    .systems-content h1 {
        font-size: 14px;
        color: #575c62;
        margin-bottom: 32px; }

    .systems-content .field { margin-left: 69px; }

        .systems-content .field label {
            font-size: 14px;
            color: #4e4e4e;
            font-family: 'HelveticaNeueBold';
            margin-right: 12px;
            vertical-align: middle; }

        .systems-content .field input[type=text] { width: 201px; }

    .systems-content .check { margin: 24px 0 28px 194px; }

        .systems-content .check label {
            font-size: 14px;
            color: #4e4e4e;
            margin-left: 8px;
            vertical-align: -2px; }

    .systems-content .tip {
        font-size: 12px;
        color: #4e4e4e;
        margin-left: 190px; }

    .systems-content .btn-red {
        margin-top: 58px;
        width: 79px;
        margin-left: 191px; }

/* roof_disign.html  */
.roof-design-content {
    float: left;
    background: #f9fcfc;
    width: 949px;
    border-left: 1px solid #bdc6d4;
    padding: 22px 29px 25px 29px;
    color: #575c62;
    font-size: 14px; }

    .roof-design-content .buttons-top .btn-red {
        width: 114px;
        margin-right: 57px; }

    .roof-design-content .buttons-top .btn-grey {
        width: 76px;
        margin-right: 8px; }

    .roof-design-content .row { margin-bottom: 20px; }

    .roof-design-content .roof-table {
        float: left;
        margin-top: 29px;
        font-size: 14px; }

        .roof-design-content .roof-table td { border-top: 1px solid #bbc6d3; }

        .roof-design-content .roof-table tbody tr:hover { cursor: pointer; }

        .roof-design-content .roof-table tr td,
        .roof-design-content .roof-table tr th {
            text-align: left;
            padding: 15px 41px 15px 8px; }

        .roof-design-content .roof-table tr td:first-child { padding-right: 0 ; }

    .roof-design-content .plot-image {
        background: #f1f3f3;
        border: 1px solid #d6d8d8;
        float: right; }

    .roof-design-content h1 {
        font-size: 16px;
        font-family: 'HelveticaNeueBold'; }

    .roof-design-content h1+.row{
        margin-top: 10px;
        padding-top: 23px;
        border-top: 1px solid #bdc6d4;
    }

    .roof-design-content .row-group1,
    .roof-design-content .row-group2,
    .roof-design-content label,
    .roof-design-content input[type=text]{ float: left; }

    .roof-design-content .row-group1{
        margin-right: 83px;
    }

    .roof-design-content label {
        margin-right: 30px;
        padding-top: 6px;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        width: 180px; }

    .roof-design-content input[type=text] { width: 201px; }

    .roof-design-content [class^=row-group] .row { margin-bottom: 5px; }

    .roof-design-content .buttons-bottom {
        margin-top: 49px;
        margin-left: 435px; }

    .roof-design-content .buttons-bottom .btn {
        width: 79px;
        margin-right: 52px; }

/* system_design.html */
.system-design-content {
    float: left;
    background: #f9fcfc;
    width: 883px;
    border-left: 1px solid #bdc6d4;
    padding: 22px 97px 112px 27px;
    color: #575c62;
    font-size: 14px; }

    .system-design-content h1 { font-size: 16px; }

    .system-design-content .buttons-bottom { margin-left: 402px; }

    .system-design-content .buttons-bottom a {
        width: 79px;
        margin-right: 52px;}

    .system-design-content .row-group1 h1 {
        margin-top: 7px;
        border-bottom: 1px solid #bdc6d4;
        width: 374px;
        padding-bottom: 15px;
        margin-bottom: 18px;
    }

    .system-design-content .row-group1,
    .system-design-content .row-group2,
    .system-design-content label,
    .system-design-content input[type=text]{ float: left; }

    .system-design-content .row-group1{
        margin-right: 55px;
    }

    .system-design-content input[type=text],
    .system-design-content .row.last input:first-child{ width: 171px; }

    .system-design-content .row.last input{
        margin-left: 11px;
        width: 106px;
    }

.system-design-content .column1{
    margin-right: 20px;
    width: 161px;
}

.system-design-content .column1 .jq-selectbox-wrapper{
    margin-left: 20px;
}

.system-design-content .column1 .jq-selectbox__select{
    width: 50px;
}

.system-design-content .column1 .jq-selectbox__dropdown{
    width: 62px;
}

    .system-design-content .row-group1 label {
        font-family: 'HelveticaNeueBold';
        padding-top: 6px;
        margin-right: 20px;
        width: 161px;
    }

    .system-design-content .row-group1 .row { margin-bottom: 18px; }

    .system-design-content .span input.last { width: 106px; }

    .system-design-content .row-group1 .span,
.system-design-content .row-group1 a {
        float: left;
        margin-left: 11px; }

    .system-design-content .row-group1 a {
        margin-top: 1px;
        display: block;
        background: url(../img/btn_sprite.png) 0 -2984px no-repeat;
        width: 27px;
        height: 24px;
    }

        .system-design-content .row-group1 a:hover { background-position: 0 -3029px; }

        .system-design-content .row-group1 a:active { background-position: 0 -3074px; }

        .system-design-content .row-group1 a span {
            width: 19px;
            height: 18px;
            display: inline-block; }

    .system-design-content .row-group1 .minus span { background: url(../img/sprites.png) -167px -225px no-repeat; }

    .system-design-content .row-group1 .plus span { background: url(../img/sprites.png) -167px -200px no-repeat; }

    .system-design-content .btn-grey-icon { width: 144px; }

    .system-design-content .row-group2 h1 { margin-top: 5px; }

    .system-design-content .row-group2 .column1 {
        margin-right: 20px;
    }

    .system-design-content .row-group2 .column2{
    float: right;
    }

    .system-design-content .row-group2 .btn-grey-icon{
        margin-right: 20px;
    }

    .system-design-content .row-group2 .column2 p {
        width: 184px;
    }

    .system-design-content .doc,
    .system-design-content .photo{
        display: inline-block;
        background: url(../img/sprites.png) no-repeat;
        margin-right: 6px;
        margin-bottom: 3px;
        vertical-align: -7px;
    }

    .system-design-content .doc {
        height: 20px;
        width: 18px;
        background-position: -13px -150px;
    }

    .system-design-content .photo {
        height: 18px;
        width: 24px;
        background-position: -81px -150px;
    }

    .system-design-content .row p {
        color: #f05535;
        font-family: 'HelveticaNeueBold'; }

    .system-design-content .title {
        padding-bottom: 11px;
        width: 374px;
        border-bottom: 1px solid #bdc6d4;
    }

    .system-design-content .row.parag { margin: 18px 42px 28px 20px; }

        .system-design-content .row.parag .row:first-child { margin-top: 0; }

        .system-design-content .row.parag .row { margin-top: 19px; }

    .system-design-content .row.images {
        margin-top: 14px;
        margin-bottom: 39px; }

        .system-design-content .row.images .row:first-child { margin-top: 0; }

        .system-design-content .row.images .row { margin-top: 9px; }

    .system-design-content .row .image-span {
        float: left;
        margin-left: 15px; }

    .system-design-content .jq-selectbox__select { width: 166px; }

    .system-design-content .jq-selectbox__dropdown { width: 178px; }

/* web_customer.html */
.customer-info {
    padding: 9px 17px 7px 20px;
    color: #4e4e4e; }

    .customer-info .btn-red,
    .customer-info .btn-grey,
    .customer-info .jq-selectbox-wrapper,
    .customer-info .pager{
        float: left;
    }

    .customer-info .search{
        float: right;
    }

    .customer-info .btn-red { width: 166px; }

    .customer-info .btn-grey { width: 135px; }

    .customer-info .btn { margin-right: 12px; }

    .customer-info .dark-select .jq-selectbox__select {
        background: url(../img/btn_sprite.png) 0px -2055px no-repeat;
        width: 102px;
        padding-top: 9px;
        padding-bottom: 9px;}

        .customer-info .dark-select .jq-selectbox__select:hover { background-position: 0px -2113px; }

        .customer-info .dark-select .jq-selectbox__select:active { background-position: 0 -2167px;}

    .customer-info .dark-select.jq-selectbox.opened .jq-selectbox__select {
        background: url(../img/btn_sprite.png) 0px -2401px no-repeat;}

    .customer-info .dark-select .jq-selectbox__select .jq-selectbox__trigger {
        background: url(../img/btn_sprite.png) 100% -2461px no-repeat;}

    .customer-info .dark-select .jq-selectbox__select:hover .jq-selectbox__trigger { background-position: 100% -2502px; }

    .customer-info .dark-select .jq-selectbox__select:active .jq-selectbox__trigger { background-position: 100% -2543px; }

    .customer-info .dark-select.jq-selectbox.opened .jq-selectbox__select .jq-selectbox__trigger { background-position: 100% -2597px; }

    .customer-info .dark-select .jq-selectbox__dropdown {
        width: 114px;
        top: 31px;}

    .customer-info .dark-select.jq-selectbox li {
        background: url(../img/btn_sprite.png) 0px -2234px no-repeat;
        padding-top: 7px;
        padding-bottom: 6px;}

        .customer-info .dark-select.jq-selectbox li:hover { background-position: 0px -2292px; }

        .customer-info .dark-select.jq-selectbox li:active { background-position: 0px -2346px; }

        .btn span i { margin-left: 7px; }

    .customer-info .btn,
    .roof-design-content .btn{
        position: relative;
    }

    .customer-info .btn-red{
        text-indent: 20px;
    }

    .roof-design-content .btn-red{
        text-indent: 25px;
    }

    .customer-info .btn-grey{
        text-indent: 36px;
    }

    .btn i{
        position: absolute;
        display: inline-block;
    }

    .white-plus {
        height: 17px;
        width: 18px;
        top: 8px;
        left: 4px;
        background: url(../img/sprites.png) -214px -152px no-repeat; }

    .import {
        top: 6px;
        left: 4px;
        height: 20px;
        width: 27px;
        background: url(../img/sprites.png) -261px -150px no-repeat; }

    .customer-info .pager {
        margin-left: 72px;
    }

.pager a {
    display: block;
    width: 14px;
    height: 9px;
    margin-top: 10px;
    background: url(../img/sprites.png) no-repeat; }

.pager a,
.pager p,
.pager input{
    margin-right: 5px;
    float: left;
}

.pager p {
    margin-top: 8px;
    font-size: 14px;
    font-family: 'HelveticaNeueBold';}

.pager a.first { background-position: -321px -156px; }

.pager a.prev { background-position: -360px -156px; }

.pager a.next { background-position: -398px -156px; }

.pager a.last { background-position: -448px -156px; }

.pager input {
    width: 33px;
    text-align: center; }

.customer-table{
    width: 100%;
    background: #f9fcfc;
    font-size: 14px;
    color: #4e4e4e;
}

.customer-table .select-wrapper{
    display: none;
    width: 125px;
}

.customer-table .jq-selectbox__select{
    width: 115px;
}

.customer-table .jq-selectbox__dropdown{
    width: 127px;
}

.customer-table tr.active td{
    color: #000;
}

.customer-table tr:hover{
    cursor: pointer;
}

.customer-table td{
    padding: 10px 0 20px 5px;
    text-align: left;
    line-height: 1.2;
    border-bottom: 1px solid #eaecee;
}

.customer-table th{
    text-align: left;
    padding: 4px 0 4px 5px;
    background: url(../img/th_color.gif) repeat-x;
    font-weight: normal;
    border-bottom: 1px solid #bbc6d3;
}

.customer-table th span{
    display: inline-block;
    float: right;
    border-left: 1px solid #fff;
    border-right: 1px solid #999fa9;
    height: 15px;
}

.customer-table .header.headerSortUp span,
.customer-table .header.headerSortDown span{
    display: none;
}

.customer-table .header{
    border-right: 1px solid transparent;
}

.customer-table .header.last{
    border-right: none;
}

.customer-table .header.last.headerSortUp,
.customer-table .header.last.headerSortDown{
    border-right: none;
}

.customer-table .header.headerSortUp,
.customer-table .header.headerSortDown{
    border-right: 1px solid #989ea8;
}

.customer-table .col-1{
    width: 26px;
}

.customer-table .col-2{
    width: 212px;
}

.customer-table .col-3{
    width: 115px;
}

.customer-table .col-4{
    width: 172px;
}

.customer-table .col-4 p{
    color: #ec674d !important;
    font-family: 'HelveticaNeueBold';
}

.customer-table .col-5{
    width: 255px;
}

.customer-table .col-6{
    width: 122px;
}

.customer-table .col-7{
    width: 129px;
}

.customer-table .install-date{
    font-family: 'HelveticaNeueBold';
}

.pagination{
    background: #d4e1f4;
    padding-top: 8px;
    padding-bottom: 11px;
    color: #4e4e4e;
}

.pagination .pager{
    float: left;
}

.pagination.customer {
    padding-left: 507px;
    padding-right: 25px;
}

.pagination .pagesize{
    float: right;
}

.pagesize p{
    float: left;
}

.pagesize p{
    font-size: 14px;
    margin-right: 10px;
    padding-top: 8px;
    font-family: 'HelveticaNeueBold';
}

.pagesize .jq-selectbox__select{
    width: 44px;
}

.pagesize .jq-selectbox__dropdown{
    width: 56px;
}

.progressbar {
    margin-top: 11px;
    height: 12px;
    width: 122px;
    background: url(../img/progressbar.png) 0px 0px no-repeat;
    border: none;}

.ui-progressbar-value {
    background: url(../img/progressbar.png) 2px -154px no-repeat;
}

/* popup */
.popup {
    position: relative;
    background: #d4e1f4;
    border-radius: 5px;
    padding-bottom: 38px;
    color: #575c62;
    box-shadow: 0px 1px 20px rgba(0,0,0,0.5); }

.popup .title {
    text-align: center;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 12px; }

.popup-close {
    display: block;
    position: absolute;
    right: -15px;
    top: -13px;
    background: url(../img/sprites.png) -222px -58px no-repeat;
    width: 32px;
    height: 33px; }

.popup-content {
    background: #f9fcfc;
    border-top: 1px solid #bbc6d3;
    border-bottom: 1px solid #bbc6d3; }

.popup label{
    font-size: 14px;
    font-family: 'HelveticaNeueBold'
}

/* popup_create_install.html */
.popup.create-install { width: 525px; }

    .popup.create-install .row:first-child,
    .popup.create-new .row:first-child { margin-top: 0; }

    .popup.create-install .row,
    .popup.create-new .row { margin-top: 19px; }

    .popup.create-install .row label {
        margin-right: 42px;
        padding-top: 6px;
        width: 103px;
    }

.popup.create-install .jq-selectbox__select,
.popup.create-new .jq-selectbox__select { width: 167px; }

.popup.create-install .jq-selectbox__dropdown,
.popup.create-new .jq-selectbox__dropdown { width: 179px; }

.popup.create-install .popup-content { padding: 44px 106px 31px 93px; }

.popup.create-install form{
    float: left;
}

.popup.create-install textarea {
    width: 167px;
    border-radius: 5px;
    border: 1px solid #b4bfcf;
    height: 85px;
    padding: 5px;
    resize: none;
    font-family: 'HelveticaNeue';
    box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
}
    .popup.create-install textarea:focus {
        border-color: #308ed6;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 255, 0.3); }

.popup.create-install input[type=text].date { width: 66px; }

.popup.create-install input[type=text].time { width: 80px; }

.popup.create-install .btn-line {
    margin-left: 96px;
    margin-top: 35px; }

.popup .btn-line a { width: 69px; }

    .popup .btn-line a:first-child { margin-right: 11px; }

/* popup_create_new.html */
.popup.create-new { width: 965px; }

    .popup.create-new .popup-content { padding: 29px 62px 40px 35px; }

.popup-content .row-group1 {
    margin-right: 60px;
    padding-bottom: 10px; /* for ie7 */
}

.popup-content .row-group2{
    padding-bottom: 10px;  /* for ie7 */
}

.popup-content .row-group1,
.popup-content .row-group2,
.popup-content label,
.popup-content input[type=text],
.popup-content .input-group + span{ float: left; }

.popup.create-new .popup-content .btn-line {
    margin-top: 24px;
    margin-left: 388px; }

.popup.create-new .popup-content label {
    width: 198px;
    margin-right: 20px;
    padding-top: 7px;
}

.popup.create-new .popup-content input[type=text] { width: 172px; }

.popup.create-new .popup-content input[type=text].input-group { width: 78px; }

.popup.create-new .upload {
    font-size: 14px;
    color: #819abe;
    border-bottom: 1px dashed #000;
    margin-top: 5px;
    margin-left: 343px;
    vertical-align: -9px;
}

.popup.create-new .popup-content .btn-grey-no-icon {
    width: 69px;
    float: left;
}

    .popup.create-new .popup-content input[type=text].file {
        width: 89px;
        margin-right: 10px;
    }

.popup-content .input-group + span{
    margin: 6px 3px;
}


/* popup_account.html */
.popup.account { width: 685px; }

    .popup.account .popup-content { padding: 21px 52px 36px 53px; }

    .popup.account .row-group-1{
        margin-bottom: 56px;
    }

    .popup.account .row h1{
        float: left;
        margin-top: 12px;
    }

    .popup.account .row .btn-line{
        float: right;
    }

    .popup.account .hgroup h1 {
        font-family: 'HelveticaNeueBold';
        font-size: 16px; }

    .popup.account .hgroup{
        padding-bottom: 10px;
        margin-bottom: 18px;
        border-bottom: 1px solid #bdc6d4;
    }

    .popup.account table {
        width: 100%;
        border: 1px solid #bbc6d3;
        font-size: 14px;
        font-family: 'HelveticaNeue'; }

        .popup.account table tr:first-child td{ border-top: 1px solid #bbc6d3; }

        .popup.account table td{ border-top: 1px solid #eaecee; }

        .popup.account table tbody tr:hover { cursor: pointer; }

table .header {
    width: auto;
}

    table .header.headerSortUp { background: url(../img/asc.gif) center right no-repeat #f2f3f6; }

    table .header.headerSortDown { background: url(../img/desc.gif) center right no-repeat #f2f3f6; }

    .popup.account .table-number-1 th:first-child { border-left: 0; }

    .popup.account .table-number-1 td,
    .popup.account .table-number-1 th { padding-left: 9px; }

    .popup.account .table-number-1 th {
        padding-top: 8px;
        padding-bottom: 5px;
        cursor: pointer;
        border-left: 1px solid #979ca7;
        background-color: #e2e5ea; }

    .popup.account .table-number-1 td {
        padding-top: 11px;
        padding-bottom: 11px; }

        .popup.account .table-number-1 td.column-2 { width: 302px; }

        .popup.account .table-number-1 td.last {
            width: 39px;
            text-align: center;
            padding-left: 0; }

.popup.account .table-number-2 td { padding: 12px 0px 15px 10px ; }

    .popup.account .table-number-2 td.last { width: 31px; }

.popup.account label {
    padding-top: 5px;
    margin-right: 27px;
    font-family: 'HelveticaNeue';
    font-size: 14px;
    width: 55px;
}

.popup.account .column1 {
    padding-top: 5px;
    margin-right: 27px;
}

.popup.account .row .column2 {
    float: right;
}

.popup.account .dropdown-list {
    width: 176px;
    height: 317px;
    border-radius: 5px;
    border: 1px solid #bbc6d3;
    background: #eef1f3;
    padding: 5px 5px 5px 5px;
    overflow: auto; }

    .popup.account .dropdown-list .folder ul { display: none; }

    .popup.account .dropdown-list .folder.open > ul {
        display: block;
        margin-left: 20px; }

    .popup.account .dropdown-list .folder.open > a { background-position: -295px -72px }

        .popup.account .dropdown-list .folder.open > a.file { background-position: -293px -43px }

        .popup.account .dropdown-list .folder.open > a.active { background-position: -295px -99px }

.popup.account .dropdown-list ul a {
        font-size: 14px;
        color: #575c62;
        display: block;
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 10px 14px 9px 23px;
        width: 80px;
        background: url(../img/sprites.png) -293px -43px no-repeat; }

        .popup.account .dropdown-list ul a.active {
            background-position: -295px -99px;
            background-color: #d4e1f4;
            border: 1px solid #bbc6d3;
            border-radius: 5px;
            padding: 10px 14px 9px 23px;
            width: 60px;
            color: #d64b2f; }

.popup.account .row-group-3 input[type=text] { width: 271px; }

.popup.account .row-group-3 { margin-bottom: 29px; }

    .popup.account .row-group-3 .row:first-child { margin-bottom: 8px; }

.popup.account .buttons-bottom {
    margin-left: 216px;
    margin-top: 47px; }

.popup.account .jq-selectbox__select { width: 266px; }

.popup.account .jq-selectbox__dropdown { width: 278px; }

/* web_shedule.html */

.container .col1{
    float: left;
    border-right: 1px solid #bbc6d3;
    width: 948px;
}

.info.shedule{
    padding: 9px 17px 7px 14px;
}

.info.shedule .btn-group-32{
    margin-right: 129px;
}

.container .col1 .btn-group-32,
.container .col1 .pager{
    float: left;
}

.container .col1 .btn-group-32 a{
    width: 95px;
}

.container .col1 .btn-group-32 a:first-child{
    width: 77px;
}

.container .col1 .btn-group-32 a.last{
    width: 84px;
}

.container .col1 .search{
    float: right;
}

.container .col2{
    float: right;
    padding: 14px 5px 0;
    border-top: 1px solid #bbc6d3;
    font-size: 14px;
}

.container .col2 .row{
    margin-bottom: 5px;
}

.container .col2 .column1{
    margin-right: 10px;
    padding-top: 5px;
    font-family: 'HelveticaNeueBold';
}

.container .col2 .column2{
    width: 131px;
}

.container .col2 .jq-selectbox__select{
    width: 121px;
}

.container .col2 .jq-selectbox__dropdown{
    width: 133px;
}

.container .col2 .date{
    border-radius: 5px;
    width: 69px;
}

.container .col2 h1{
    margin-bottom: 19px;
    font-family: 'HelveticaNeueBold';
}

.pagination.shedule{
    padding-left: 17px;
    padding-right: 25px;
}

#map-canvas{
    width: 239px;
    margin: 6px 0 11px;
    padding: 0;
    height: 244px;
    border: 1px solid #bbc6d3;
}

