@import url(../css/reset.css);

body {
    font-family: "Roboto Condensed";
    background-color: #e1e5ec;
}

input[type=text]{
    font-family: "Roboto Condensed";
}

.page-wrapper{
    min-width: 1202px;
}

.header,
.container{
    margin: 0 auto;
}

.container{
    width: 1200px;
}

.container{
    border-bottom:1px solid #bbc6d3;
    border-right:1px solid #bbc6d3;
    border-left:1px solid #bbc6d3;
}

.header-wrapper{
    background-color: #7c828b;
}

.content-wrapper{
    padding-bottom:20px;
    background-color: #e1e5ec;
}

.header{
    width: 1202px;
     padding-bottom: 15px; 
}

.logo{
    font-size:21px;
    float: left;
    text-transform:uppercase;
    margin: 20px 111px 3px 8px;
}

.logo a{
    display: block;
}

.logo span:first-child{
    color: #37b9e7;
}

.logo span.last{
    color: #fff;
}

.menu{
    margin-top: 19px;
    float: left;
    height: 25px;
}

.menu li{
    float: left;
}

.menu a{
    display: block;
    padding-top: 16px;
}

.menu a span{
    font-size: 0;
}

.menu a.active{
    margin-top: -5px;
}

.menu a.active span{
    font-size: 14px;
    color: #6a778b;
    margin-left: 49px;
    font-weight: bold;
}

.menu .list-item1{
    width: 25px;
    height: 8px;
    background:url(../img/sprite_menu.png) 0px -3px no-repeat;
    margin-right: 32px;
}

.menu .list-item2{
    height: 8px;
    width: 32px;
    background:url(../img/sprite_menu.png) -29px -3px no-repeat;
    margin-right: 35px;
}

.menu .list-item3{
    height: 9px;
    width: 22px;
    background:url(../img/sprite_menu.png) -68px -3px no-repeat;
    margin-right: 23px;
}

.menu .list-item4{
    height: 8px;
    width: 29px;
    background:url(../img/sprite_menu.png) -98px -3px no-repeat;
    margin-right: 26px;
}

.menu .list-item5{
    height: 27px;
    width: 30px;
    background:url(../img/sprite_menu.png) -132px -3px no-repeat;
    margin-right: 24px;
}

.menu .list-item6{
    height: 8px;
    width: 27px;
    background:url(../img/sprite_menu.png) -170px -3px no-repeat;
}

.menu [class^="list-item"].active{
    width: 136px;
    height: 30px;
}

.menu .list-item1.active{
    background: url(../img/menu_active.png) 0px -2px no-repeat;
}

.menu .list-item2.active{
    background: url(../img/menu_active.png) 0px -62px no-repeat;
}

.menu .list-item3.active{
    background: url(../img/menu_active.png) 0px -124px no-repeat;
}

.menu .list-item4.active{
    background: url(../img/menu_active.png) 0px -189px no-repeat;
}

.menu .list-item5.active{
    background: url(../img/menu_active.png) 0px -252px no-repeat;
}

.menu .list-item6.active{
    background: url(../img/menu_active.png) 0px -319px no-repeat;
}

.user{
    float: right;
    position: relative;
}

.user a{
    width: 103px;
    display: block;
    color: #fff;
    font-size:12px;
    background-color: #60666e;
    border: 1px solid #878e97;
    padding: 6px 1px 7px 8px;
}

.user a .up-arrow{
    vertical-align:-3px;
}

.user a .span1{
    margin-left: 5px;
    margin-right: 21px;
}

.user a .span2{
    margin-left: 9px;
}

.user a .span3{
    margin-left: 13px;
}

.user li .item1{
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.user li ul{
    display: none;
}

.user li ul a{
    border-top:0px;
}

.user li ul a img{
    vertical-align:-3px;
}

.user li:hover ul{
    display: block;
    top:100%;
    right:0;
    position: absolute;
    z-index:100;
}

.user li:hover .item1{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.user li:hover .item2{
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.sidebar{
    position: fixed;
    left:0;
    top:101px;
    width: 39px;
    border-right: 1px solid #e9edf2;
    border-bottom: 1px solid #e9edf2;
    border-top: 1px solid #e9edf2;
    background-color: #7c828b;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    z-index:1;
}

.sidebar a{
    display: block;
    height: 43px;
}

.sidebar .item1{
    background: url(../img/fixed_menu.png) 8px 12px no-repeat;
}
.sidebar .item2{
    background: url(../img/fixed_menu.png) 8px -28px no-repeat;
}
.sidebar .item3{
    background: url(../img/fixed_menu.png) 8px -68px no-repeat;
}
.sidebar .item4{
    background: url(../img/fixed_menu.png) 8px -108px no-repeat;
}

.info{
    padding-top: 6px;
    padding-left: 10px;
    padding-bottom: 8px;
    background-color: #d4e1f4;
    border-bottom:1px solid #bbc6d3;
}

.info .create{
    margin-right: 8px;
    float: left;
}

.info .create a{
    background: url(../img/create.png) no-repeat;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #4e4e4e;
    font-size: 14px;
    display: block;
    width: 169px;
}

.info .create a span{
    margin-left: 8px;
}

.info p{
    font-size:14px;
    float: left;
    margin-right: 35px;
    margin-top: 11px;
}

.content{
    background-color: #f0f1f3;
}

.content-left{
    padding-top: 16px;
    width: 192px;
    float: left;
}

.left-menu{
    margin-left: 20px;
}

.left-menu a{
    font-size: 12px;
    color: #4d4d4d;
    display: block;
    width: 134px;
    padding: 10px 0px 11px 6px;
    border: 1px solid transparent;
}

.left-menu a.active{
    background-color: #d4e1f4;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border:1px solid #bbc6d3;
    font-weight:bold;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.lt-ie9 .left-menu a.active{
    background: url(../img/left_menu_item_background.png) no-repeat;
    border:0;
    padding: 10px 1px 12px 6px;
}

.left-menu li ul{
    display: none;
}

.left-menu li:hover ul{
    display: block;
    margin-left: 24px;
}

.plot{
    width: 1007px;
    border-left: 1px solid #bdc6d4;
    background-color: #f9fcfc;
    float: right;
    padding-top: 21px;
    position: relative;
}

p.image-title{
    margin-left: 26px;
    margin-bottom: 33px;
    font-size:14px;
    color: #575c62;
}

.image-title a img{
    margin-left: 9px;
    vertical-align:-4px;
}

.plot .plot-buttons{
    margin-top: 100px;
    margin-bottom: 33px;
}

.plot-buttons a{
    text-align:center;
    color: #f1f1f1;
    font-size:14px;
    float: left;
    width: 77px;
    margin-left: 52px;
}

.plot-buttons a:first-child{
    margin-left: 182px;
}

.panel{
    background-color: #e0e3e8;
    width: 281px;
    position: absolute;
    top:0;
    right:0;
}

.active-panel.active .block1 {display: none; }

.panel .description{
    background-color: #585d63;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#818992', endColorstr='#585d63');
    background-image: -webkit-gradient(linear, left top, left bottom, from(#818992), to(#585d63));
    background-image: -webkit-linear-gradient(top, #818992, #585d63);
    background-image: -moz-linear-gradient(top, #818992, #585d63);
    background-image: -ms-linear-gradient(top, #818992, #585d63);
    background-image: -o-linear-gradient(top, #818992, #585d63);
    background-image: linear-gradient(top, #818992, #585d63);
    -webkit-box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.3);
    -moz-box-shadow:inset 0px 1px 2px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 1px 2px rgba(255, 255, 255, 0.3);
}

.panel .description a{
    color: #fff;
    font-size:14px;
    display: block;
    padding-top: 10px;
    padding-bottom: 9px;
}

.panel .description a img{
    margin-left: 8px;
    margin-right: 7px;
    margin-bottom: 2px;
}

.panel [class^="block"] {
    border-left: 1px solid #bdc6d4;
}

.panel .block1,
.panel .block2,
.panel .block3,
.panel .block4{

}

.panel .block4{
    border-bottom: 1px solid #bdc6d4;
}

.panel .block1{
    padding-top: 18px;
    padding-bottom: 15px;
}

.panel .block1 .tablet{
    margin-left: 21px;
}

.block1 .panel-buttons{
    margin-top: 22px;
    margin-left: 20px;
}

.panel-buttons a{
    text-align:center;
    color: #f1f1f1;
    font-size:14px;
    margin-bottom: 5px;
    width: 162px;
}

.panel-buttons a span{
    padding-right: 4px;
    padding-top: 9px;
    padding-bottom: 10px;
    display: block;
    background: url(../img/buttons_sprite.png) 100% -44px no-repeat;
}

.block2{
    padding-top: 16px;
    padding-bottom: 18px;
}

.block2 .circle-button{
    display: block;
    width: 56px;
    height: 56px;
    margin-left: 17px;
    float: left;
    margin-right: 28px;
}

.block2 .inputs{
    float: left;
    margin-top: 14px;
}

.block2 input{
    width: 54px;
    height: 25px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #b7c1d0;
    margin-right: 8px;
}

.block3 {
    padding-top: 19px;
    padding-bottom: 12px;
}

.block3 .row{
    margin-bottom: 7px;
}

.block3 p{
    font-size:14px;
}

.block3 .column1{
    float: left;
    margin-left: 21px;
    color: #575c62;
}

.block3 .column2{
    float: right;
    margin-right: 30px;
    color: #8c929b;
}

.block4{
    padding-top: 20px;
}

.block4 .row{
    padding-bottom: 9px;
}

.block4 p{
    font-size:14px;
}

.block4 .column1{
    float: left;
    margin-left: 22px;
    color: #7c8086;
}

.block4 .column2{
    float: right;
    margin-right: 25px;
    color: #575c62;
}

a.grey-buttons{
    display: block;
    padding-left: 4px;
    background: url(../img/buttons_sprite.png) 0px 0px no-repeat;
    text-align:center;
}

a.grey-buttons span{
    padding-right: 4px;
    padding-top: 9px;
    padding-bottom: 10px;
    display: block;
    background: url(../img/buttons_sprite.png) 100% -39px no-repeat;
}

a.grey-buttons:hover{
    background-position: 0px -82px;
}

a.grey-buttons:hover span{
    background-position:100% -126px;
}

a.grey-buttons:active{
    background-position:0px -170px;
}

a.grey-buttons:active span{
    background-position:100% -210px;
}

a.red-buttons{
    display: block;
    padding-left: 4px;
    background: url(../img/buttons_sprite.png) 0px -253px no-repeat;
    text-align:center;
}

a.red-buttons span{
    padding-right: 4px;
    padding-top: 9px;
    padding-bottom: 10px;
    display: block;
    background: url(../img/buttons_sprite.png) 100% -296px no-repeat;
}

a.red-buttons:hover{
    background-position:0px -337px;
}

a.red-buttons:hover span {
    background-position:100% -376px;
}

a.red-buttons:active{
    background-position: 0px -419px;
}

a.red-buttons:active span{
    background-position: 100% -462px;
}

/* power_usage.html */

.content-right{
    float: right;
    width: 1007px;
    padding-top: 32px;
    background-color: #f9fcfc;
    padding-bottom: 40px;
    border-left: 1px solid #bdc6d4;
}

.content-right h1{
    font-size:16px;
    color: #575c62;
    margin-left: 26px;
}

.content-right h1 + p{
    font-size:12px;
    margin-left: 61px;
    margin-top: 28px;
    margin-bottom: 55px;
    color: #82878b;
}

.content-right hr{
    margin-top: 3px;
    margin-left: 25px;
}

.form{
    margin-top: 20px;
}

.group-fields1{
    float: left;
    margin-left: 61px;
    width: 250px;
}

.group-fields1 .row:first-child{
    margin-bottom: 18px;
    background-color: #e0e7f2;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding-left: 10px;
    padding-right: 3px;
    margin-left: -10px;
    margin-right: -3px;
}

.lt-ie9 .group-fields1 .row:first-child{
    background: url(../img/input_background.png) no-repeat;
}

.group-fields2{
    float: right;
    margin-right: 310px;
    width: 269px;
}

.group-fields2 .single-button a{
    margin-bottom: 21px;
    margin-left: 96px;
    color: #f1f1f1;
    font-size:14px;
}


.form .row{
    padding-top: 3px;
    padding-bottom: 3px;
}

.form .row .column1{
    float: left;
    font-size:14px;
    color: #575c62;
    margin-top: 7px;
}

.form .row .column2{
    float: right;
}

.form .row .column2 input[type=text]{
    border: 1px solid #b4bfcf;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    height: 25px;
    width: 166px;
    padding-left: 5px;
}

.form .row .column2 input[type=text]:focus{
    border: 1px solid #308ed6;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.3);
    -moz-box-shadow:0px 0px 10px rgba(0, 0, 255, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.3);
}

.content-right .plot-buttons{
    margin-top: 20px;
}

.content-right .plot-buttons a:first-child{
    margin-left: 314px;
}

/* reports.html */

.info-panel{
    background-color: #d4e1f4;
    padding-top: 10px;
    padding-bottom: 11px;
    border-bottom:1px solid #bdc6d4;
    padding-left: 15px;
}

.info-panel .row,
.info-panel .info-buttons{
    float: left;
}

.info-panel .row.last{
    margin-left: 27px;
}

.info-panel .row .column1{
    float: left;
    margin-right: 11px;
    font-size:14px;
    color: #78797c;
    padding-top: 5px;
}

.info-panel .row .column2{
    float: right;
}

.info-panel .column2 input{
    padding-top: 3px;
    padding-bottom: 3px;
}

.info-panel .column2 input:first-child{
    border: 1px solid #b4bfcf;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    border-right: 0;
    width: 65px;
    padding-left: 25px;
    background: url(../img/sprite_small_icons.png) -48px 2px no-repeat #fff;
    float: left;
}

.info-panel .column2 .last{
    width: 67px;
    padding-left: 5px;
    border: 1px solid #b4bfcf;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
}

.info-buttons{
    margin-left: 52px;
}

.info-buttons a{
    width: 68px;
    font-size:14px;
    color: #f1f1f1;
    display: block;
    float: left;
    padding-top: 7px;
    padding-bottom: 6px;
    text-align:center;
}

.info-buttons .first-btn{
    background: url(../img/info_buttons.png) 0px 0px no-repeat;
}

.info-buttons .second-btn{
    background: url(../img/info_buttons.png) -69px 0px no-repeat;
}

.info-buttons .third-btn{
    background: url(../img/info_buttons.png) -137px 0px no-repeat;
}

.info-buttons .fourth-btn{
    background: url(../img/info_buttons.png) -205px 0px no-repeat;
}

.reports-content{
    background-color: #f9fcfc;
    padding-top: 26px;
    padding-bottom: 28px;
}

.reports-content .field{
    margin-left: 75px;
    margin-bottom: 11px;
}

.reports-content .field label{
    font-size: 14px;
    font-weight: bold;
    color: #4e4e4e;
    vertical-align: middle;
    margin-right: 13px;
}

.reports-content .field select{
    width: 206px;
}

.reports-content .block{
    margin-left: 111px;
    margin-bottom: 43px;
}

.reports-content .block input{
    margin-right: 13px;
}

.reports-content .block a,
.input-form .column3 a{
    font-size: 12px;
    color: #4e4e4e;
    border-bottom: 1px dashed #4e4e4e;
    vertical-align: middle;
}

.list,
.last-list-item{
    width: 498px;
}

.list, .last-list-item{
    margin-left: 111px;
}

.list .list-item{
    margin-bottom: 16px;
}

.list-item p,
.last-list-item p{
    font-size: 14px;
    color: #4e4e4e;
    float: left;
}

.save-format{
    float: right;
}

.save-format a:first-child{
    float: left;
}

.save-format a.last{
    float: right;
}

.list-item a,
.last-list-item a{
    display: block;
    width: 21px;
    height: 24px;
}

.list-item a:first-child,
.last-list-item a:first-child{
    background: url(../img/sprite_small_icons.png) 0px 0px no-repeat;
    margin-right: 49px;
}

.list-item a.last,
.last-list-item a.last{
    background: url(../img/sprite_small_icons.png) -27px 0px no-repeat;
}

.input-form {
    margin-top: 36px;
    /* width: 643px; */
    margin-right: 533px;
}

.input-form .row{
    margin-left: 31px;
    margin-bottom: 23px;
}

.input-form .row .column1{
    margin-right: 12px;
    padding-top: 7px;
    width: 64px;
    text-align:right;
}

.input-form .row .column1.last{
    padding-top: 1px;
}

.input-form .row .column1 label{
    font-size: 14px;
    color: #4e4e4e;
    font-weight: bold;
}

.input-form .row [class^=column]{
    float: left;
}

.input-form .column2{
    margin-right: 13px;
}

.input-form .column2 input,
.reports-content .block input{
    width: 517px;
    height: 25px;
    border: 1px solid #b4bfcf;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding-left: 5px;
}

.input-form .column2 input:focus,
.reports-content .block input:focus{
    border: 1px solid #308ed6;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.3);
    -moz-box-shadow:0px 0px 10px rgba(0, 0, 255, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.3);
}

.input-form .column3{
    padding-top: 5px;
}


